._c-add-item {
  width: 100%;
  margin-left: 50px;
}
._t-add-item {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 28px;
}

._r-add-item {
 display: flex;
}

.mx-auto{
  margin-right: none;

}


