.box {
  width: 100%;
  margin-left: 50px;
}
.title {
  margin-top: 20px;
  margin-bottom: 10px;
}

.row{
 display: flex;
}

#second{
  margin-left: 15px;
  margin-top: 15px;
  margin-bottom: 5px;
}
#first{
  margin-right: 15px;
   margin-top: 15px;
}
