// Specific CSS for your home-page
.banner {
  background-size: cover;
  background-position: center;
  padding: 350px 0;
}

.banner h1 {
  margin: 0;
  color: #F2E8DF;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: #F2E8DF;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.search-home {
    background: #ffffff;
    border-radius: 4px;
    width: 508px;
    padding: 32px;
    margin-bottom: 16px;
}
