// Specific CSS for your home-page
@import "components/searchform";
@import "components/cards";
.banner {
  background-size: cover;
  background-position: center;
  padding-top: 20px;
  padding-bottom: 20px;
}


.outer-cards h5 {
  font-family: 'Quattrocento';
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 15px;
}
