body {
  $font-family-sans-serif:  $body-font;
}

._con {
  max-width:100%;
}

._pad {
  padding:20px;

}




// .card {
//   align-items: center;
//   background-size: cover;
//   background-position: center;
//   text-align:center;
//   height: 300px;
//   border-radius: 1px;
//   box-shadow: 0 0 10px rgba(0,0,0,0.2);
//   justify-content: space-around;
//   font-size: 22px;
//   font-weight: bolder;
//   background-color: #F4F4F4;
//   width: 100%;

//   img {
//     max-width: 40%;
//   }
// }

// .button-add {
//   background-color: black;
//   font-color:white;
//   border-radius: 4px;
//   text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
//   padding:10px;
// }

// .button-log {
._ml ._dd {
  text-align:center;

}


._ci {
  overflow: hidden;
  background: white;
  width:48%;
  display:inline-block;
  border-radius:4px;
}

._ci > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

 a {
 color: #212529;
}




._ci ._cii {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

// button#dropdownMenuButton {
//   margin-bottom: 14px;
//   border-radius: 3px;
//   width: 80%;
//   border-color:#D9BD8B;
//   background: #D9BD8B;
// }

// .user-login a {
//   margin-left:10px;
// }

// .items-displayed {
//   text-align:center;
//   list-style-type: none;
//   background-color:white;
//   // margin:none;
//   // padding:0px;
//   margin-bottom: 14px;
//   border-radius: 3px;
//   // width: 80%;
//   // position:relative;
// }

.ul-in {
  list-style-type: none;
  text-align:center;
  margin-right: 30px;

  // padding-right: 10px;

}



