._user-info {
  margin: 8px 0;
  box-shadow: -10px -10px 40px #ffffff;
  border-radius: 6px;
}

._user-info img{
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin: auto;
  margin-top: 24px;
}

#shadow{
box-shadow: -10px -10px 40px #ffffff;
border-radius: 6px;
}

._profile-card-body i {
  font-size: 20px;
}

#text-vertical h6{
  color: #999999;
}

#profilebutton{
  position:absolute;
  bottom:10px;
}


.notification {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  background: white;
  padding: 8px 16px;
  border: 1px solid rgb(235,235,235);
}

#iconnotifications{
font-size: 15px;
}

.notification .notification-content {
  flex-grow: 1;
  padding: 0 24px;
}


.notification small {
  color: #black ;
}
.notification .notification-actions {
  opacity: 0;
  display: flex;
  transition: ease .3s;
}

.notification:hover .notification-actions {
  opacity: 1;
}

.notification .notification-actions a i {
  color: #999999;
  margin-left: 16px;
  font-size: 15px;
  justify-content: flex-end;
}

.notification .notification-actions a:hover {
  color: #555555;
}
