.show-good {
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

.heading_show {
  padding:10px;
}

._card-show {
  text-align: center;
  // border-bottom: 1px solid #D9CDBF;
  // border-top: 1px solid #D9CDBF;
  font-weight: 100;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius:16px;
  padding: 25px;
  width: 500px;
  height: 528px;
  background-color:white;

  h4 {
    margin-top:20px;
  }
}

.show-button {
  padding:15px;
  margin-top:10px;
  background-color:transparent;
  border:1px solid gray;
  height: 10px;
  &:hover {
    text-decoration: none;
  }
}

.nothing {
  height: 10px;
}


._card-show img {
  height:250px;
  width:300px;
}
// }
// ._card-home {
//   background-color: #f8f9fa;
//   padding: 25px;
//   border: transparent;
// }
// ._card-home img {
//     height: 100px;
//     width: 100%;
//     margin: 20px 0px 20px 0px;

// }
// ._card-home h5 {
//   margin-bottom: 25px;
// }

._bnk {
  width: 500px;
}
