<div class="container w-50 mb-4">
  <%#= @good.name %>
</div>
<div class="container w-50">
  <%= simple_form_for [@good, @booking] do |f| %>
  <%= f.input :start_date, as: :date, start_year: Date.today.year,
                                start_month: Date.today.month,
                                start_day: Date.today.day,
                                order: [:day, :month, :year] %>
  <%= f.input :end_date, as: :date, start_year: Date.today.year,
                                start_month: Date.today.month,
                                start_day: Date.today.day + 4,
                                order: [:day, :month, :year] %>

  <%=f.submit class: "btn btn-danger" %>
  <% end %>
</div>

<!-- this form will throw an error. Need to check first with
professor to swap schema of strings for dates? -->

<!-- Either that or use the next line -->
<%#= f.input :start_date, placeholder: "dd/mm/yyyy" %>
