<!-- <div class="container w-25"> -->
  <h5 id="dates">Add dates</h5>
  <%= simple_form_for [@good, @booking] do |f| %>
 <!--    <= f.input :url %>
    <= f.input :name %> -->
    <%= f.input  :start_date, as: :string, required: false, input_html: { id: "start_date"} %>
    <%= f.input :end_date, as: :string, required: false, input_html: { id: "end_date"} %>
    <%=f.submit 'Add Booking', class: "btn btn-outline-secondary _button-gold w-100" %>
  <% end %>
  <div id="show-price">


  </div>


<script>

  let endDateElement = document.querySelector('#start_date');

  endDateElement.addEventListener("input", function() {
    event.preventDefault();

    // setTimeout(function(){

      endDateElement = document.querySelector('#start_date').value;
      let datesString = endDateElement.split(" to ");

      let startString = datesString[0].split("-");
      let endString = datesString[1].split("-");

      let startDate = new Date(startString[0], startString[1], startString[2]);
      let endDate = new Date(endString[0], endString[1], endString[2]);

      let days = Math.round((endDate - startDate)/(1000*60*60*24));
      let priceDay = document.getElementById('price').innerText.split(" ")[0];

      let totalPrice = days * priceDay ;  // in js.erb you can use ruby code. use that for the price instead of querys

      let paramaterTotal = document.querySelector('#show-price')
      let html = `<strong><p>Total price: ${totalPrice} $</p></strong>`

    paramaterTotal.insertAdjacentHTML('beforeend', html)

    // }, 2000);

  });



</script>

