<footer>
<div class="footer">
  <div class="container _box">
    <div class="icons">
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
    <div class="links">
      <a href="#"> About us </a>
      <a href="#"> Contact us </a>
    </div>
    <div class="copyrights">
      <a href="#">© GlamAvenue 2020</a>
    </div>
  </div>
</div>
</footer>
