<!-- <div>
    <div class="footer">
      <div class="footer-links">
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
      </div>
      <div class="footer-copyright">
        This footer is made with <i class="fas fa-heart"></i> at Le Wagon
      </div>
</div>
  </div>
 -->
 <!-- Footer -->
<footer class="page-footer font-small special-color-dark pt-4">
  <!-- Footer Elements -->
  <!-- Social buttons -->
  <div class="container">
    <div class="row">
    <div class="col">
    </div>
    <div class="col footer-links">
      <div>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
      </div>
      <a href="#"> About us </a>
      <a href="#"> Contact us </a>
    </div>
    <div class="col footer-copyright text-center pt-5">
        <a href="#">© GlamAvenue 2020</a>
    </div>
  </div>
  </div>
</footer>
</div>
    <!-- Social buttons -->
  <!-- Footer Elements -->

  <!-- Copyright -->
  <!-- Copyright -->

<!-- Footer -->
