<nav class="navbar navbar-light bg-light main" id="nav-shared">
  <%= link_to 'GlamAvenue' , root_path, class: "nav-br-logo ml-5" %>




  <div class="right-side">
    <%= link_to 'Sign Up' , new_user_registration_path, class: "text-navbar mx-3" %>
    <%= link_to 'Sign In', new_user_session_path, class: "text-navbar mx-3" %>

  </div>
</nav>
