<div class="search-home">
  <div class="search-form">
    <div class="search-title">
      <section>
        <h1>Rent your luxury item</h1>
      </section>
    </div>


    <%= form_tag goods_path, method: :get do %>
      <div class="form-row">
      <label for="designer"> Designer</label>
      </div>
      <div class="form-row">
        <div class="line">
        <%= select_tag(:designer, options_for_select(Good::DESIGNER)) %>
  </div>
      </div>
      <div class="form-row">
        <label for="category">Category</label>
      </div>
      <div class="form-row">
        <div class="line">
        <%= select_tag(:category, options_for_select(Good::CATEGORY)) %>
      </div>
      </div>
      <div class="form-row">
        <%= submit_tag "Search", class: "btn btn-outline-secondary _button-gold col-md-12" %>
      </div>
    <% end %>




<!--     <%#= simple_form_for (@good ) do |f|%>
      <%#=  f.input :designer, collection: Good::DESIGNER%>
      <%#=  f.input :category, collection: Good::CATEGORY %>
      <div class="form-row">
        <div class="col-md-6 mb-3">
          <label for="location">START DATE</label>
          <input type="text" class="form-control" id="start_date">
        </div>
        <div class="col-md-6 mb-3">
          <label for="location">END DATE</label>
          <input type="text" class="form-control" id="start_date">
        </div>
      </div>
      <%  %>
  <#% end %>
      <%#= link_to "Search", goods_path, class: "btn btn-outline-secondary _button-gold col-md-12" %> -->

  </div>
</div>
