
   <h5>Booking with Glamavenue</h5>
    <div class="cards">
      <div class="card">
        <%= image_tag "chat.svg", alt: "chat" %>
        <h5>24/7 customer support</h5>
        <p>Day or night, we’re here for you. Talk to our support team from anywhere in the world, any hour of day.</p>
      </div>
      <div class="card">
        <%= image_tag "designer.svg", alt: "designer" %>
        <h5>Only top designers</h5>
        <p>From the runways and priovate collectors into your wardrobe - only top luxury items!</p>
      </div>
      <div class="card">
        <%= image_tag "delivery.svg", alt: "delivery" %>
        <h5>Fast delivery</h5>
        <p>Fast delivery 7 days a week - order today befor 4 pm, receive tomorrow before 11 am!</p>
      </div>
    </div>
