<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://source.unsplash.com/collection/4404440/1600x900);">
  <div class="container">

<form>
  <div class="search-form search-home">
    <div class="search-title">
      <section>
        <h1 tabindex="-1" class="_14i3z6h">Rent your luxury item</h1>
      </section>
    </div>
     <div class="form-row">
    <div class="col-md-4 mb-3">
      <label for="location">START DATE</label>
      <input type="text" class="form-control" id="start_date">
    </div>
    <div class="col-md-4 mb-3">
      <label for="location">END DATE</label>
        <input type="text" class="form-control" id="start_date">
      </div>
    </div>
    <%= render partial: 'search' %>
</div>
</form>
</div>
