    <!-- Fontawesome CSS -->
<!--   </head>
  <body>
    <div class="navbar-minimalist">
      <img src="images/logo.png">
    </div>
  <div class="container">
    <div class="cards">
      <div class="card" style="background-image: url(https://www.jolicloset.com/pt/marcas-feminino/hermes/bolsas-femininas/bolsas/birkin-35--78509#&gid=1&pid=1)">
        Hermès, Birkin 35
      </div>
      <div class="card" style="background-image: url(https://d2adyl8yz1ff2n.cloudfront.net/spree/images/attachments/000/048/177/large/open-uri20190730-17623-hl77h1?1564505726)">
        Chanel Navy Chevron Lambskin Flap Bag
      </div>
    </div>
 Change the token below (https://www.mapbox.com/account/access-tokens/) -->
  <!--   <img id="map" src='https://api.mapbox.com/styles/v1/mapbox/streets-v11/static/2.3381,48.8693,10.45,0,0/600x1000?access_token=pk.eyJ1IjoiYWNhdGFyaW5hcGltZW50ZWwiLCJhIjoiY2s2Y2NoOXo3MDlnbzNmcXhweWF0NW53MSJ9.aye4ElU87mII8vcSjJFdbw'>
  </div>
  </body>
</html>
 -->
