<div class="page">
  <%= render partial: 'shared/carousel'%>
  <div class="container _title">
    <%= @good.name %>
  </div>
  <div class="container _body mt-4">
    <div class="description ">
      <%= @good.description %>
    </div>
    <div class="container col-md-4 _dates mb-4 ">
      <%= render partial: 'shared/dates' %>
    </div>
  </div>
</div>
