._cards-home {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  margin: 30px;
  margin-left: 40px;
  flex-grow: 1;
  margin: auto;
  text-align: center;
  border-bottom: 1px solid #D9CDBF;
  border-top: 1px solid #D9CDBF;
}
._card-home {
  background-color: #F8F9FA;
  padding: 25px;
  border: transparent;
}
._card-home img {
    height: 100px;
    width: 100%;
    margin: 20px 0px 20px 0px;
}
._card-home h5 {
  margin-bottom: 25px;
}
