
.search-home {
    background: #f8f9fa;
    color: #261D12;
    border-radius: 6px;
    width: 508px;
    padding: 32px;
    margin: 30px;
    box-shadow: 4px 4px 10px -1px rgba(242, 231, 222, 1);
  }
.search-home:hover {
  box-shadow: inset 0px 0px 16px 0px rgba(242, 231, 222, 1);

}
.search-title {
  color: #261D12;
  margin: 0;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}
._button {

    font-family: 'Montserrat';
    background:  #D9BD8B;
    border-color: transparent;
    color:  #F2E8DF;
    font-weight: bold;
    padding: 10px;
}
